body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    color: #333;
}

/* Navigation styling */
nav a {
    color: #0275d8;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Pagination controls */
.pagination-controls {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pagination-controls span {
    margin: 0 10px;
}

/* Filter section styling for horizontal layout */
.filter-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: end;
}

.form-group {
    display: flex;
    flex-direction: column;
    min-width: 150px; /* Ensures form controls have a minimum width */
}

/* Adjust button alignment if necessary */
.filter-section .btn-primary {
    height: fit-content;
    align-self: flex-end;
}

ol {
    font-size: 20px;
}

.clickable-rows tr {
    cursor: pointer;
}
