<h2>Highest GDP per Population Over the Years for All Countries</h2>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Year</th>
    <th>Population</th>
    <th>GDP</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let stat of countryStats">
    <td>{{ stat.name }}</td>
    <td>{{ stat.countryCode3 }}</td>
    <td>{{ stat.year }}</td>
    <td>{{ stat.population}}</td>
    <td>{{ stat.gdp}}</td>
  </tr>
  </tbody>
</table>

