<h2>Table of Countries</h2>
<table class="clickable-rows">
  <thead>
  <tr>
    <th>Name</th>
    <th>Area</th>
    <th>Code</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries" (click)="onCountrySelect(country.countryCode2)">
    <td>{{ country.name }}</td>
    <td>{{ country.area }} km²</td>
    <td>{{ country.countryCode2 }}</td>
  </tr>
  </tbody>
</table>

