<main class="main">
  <h1>Welcome</h1>
  <br>
  <nav><a href="/">Home</a></nav>
  <br>
  <ol>
    <li><a [routerLink]="['/countries']">Table of countries with only Name, Area, and Code</a></li>
    <li><a [routerLink]="['/countries-stats']">Table of highest GDP per population over the years for all countries</a></li>
    <li><a [routerLink]="['/global-stats']">Global Stats with Filters</a></li>
  </ol>
  <router-outlet></router-outlet>
  <app-countries *ngIf="showCountries"></app-countries>
</main>
