<div class="filter-section">
  <form (ngSubmit)="onFilterApply()">
    <div class="form-group">
      <label for="region">Region:</label>
      <select id="region" [(ngModel)]="regionId" name="regionId" class="form-control">
        <option value="">Select Region</option>
        <option *ngFor="let region of regions" [ngValue]="region.regionId">{{ region.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="startYear">Start Year:</label>
      <input type="number" id="startYear" [(ngModel)]="startYear" name="startYear" class="form-control">
    </div>
    <div class="form-group">
      <label for="endYear">End Year:</label>
      <input type="number" id="endYear" [(ngModel)]="endYear" name="endYear" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Apply Filters</button>
  </form>
  <br>
  <div class="form-group">
    <label for="pageSize">Page Size:</label>
    <select id="pageSize" [(ngModel)]="size" name="pageSize" class="form-control" (change)="onPageSizeChange(size)">
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="All">All</option>
    </select>
  </div>
  <div class="pagination-controls">
    <button class="btn btn-secondary" (click)="onPreviousPage()" [disabled]="page <= 1">Previous</button>
    <span>Page {{ page }}</span>
    <button class="btn btn-secondary" (click)="onNextPage()" [disabled]="size === 'All'">Next</button>
  </div>
</div>

<div class="stats-table">
  <table class="table">
    <thead>
    <tr>
      <th>Continent</th>
      <th>Region</th>
      <th>Country</th>
      <th>Year</th>
      <th>Population</th>
      <th>GDP (USD)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stat of globalStats">
      <td>{{ stat.continentName }}</td>
      <td>{{ stat.regionName }}</td>
      <td>{{ stat.countryName }}</td>
      <td>{{ stat.year }}</td>
      <td>{{ stat.population }}</td>
      <td>{{ stat.gdp}}</td>
    </tr>
    </tbody>
  </table>
</div>
