<h1>Languages of countryName</h1>
<table>
  <thead>
  <tr>
    <th>Language</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let language of languages">
    <td>{{ language.language }}</td>
  </tr>
  </tbody>
</table>

